.prompt {
  display: flex;
  padding: 7px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.prompt:hover {
  cursor: pointer;
  background-color: lightgrey;
}

img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
